html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#000;
    font-family: 'Philosopher', sans-serif;
}
a{
    color:currentColor;
}
#app{
    width:100vw;
    height:100vh;
    position:absolute;
}
.menu{
    color:#ddd;
    background-color: #222222;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width:300px;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,.6);
    height:100vh;
    transition: transform .2s;
    transform: translateX(calc(-100% - 10px));
    z-index:1;
    cursor: pointer;
}
.menu:hover{
    transform: translateX(-100%);
}
.menu:after{
    content: '';
    position:absolute;
    right:0px;
    width:10px;
    top:0;
    bottom:0;
    height:100%;
    background-color: #222222;
    
}
.menu.active{
    transform:translateX(0%);
    cursor: default;
}
.menu.active:hover{
    transform:translateX(0%)!important;
}
.menu .menu__button {
    cursor:pointer;
    color:#fff;
    font-size:18px;
    position:absolute;
    right:-30px;
    width:30px;
    height:150px;
    background-color: #222222;
    top:0;
    bottom:0;
    display:block;
    margin:auto;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,.6);
    line-height:150px;
    text-align: center;
    transition: width .2s, right .2s;
}
.menu .menu__button:before {
    content: '\2630';
}
.menu.active .menu__button:before {
    content: '\2715';
}
.menu.active .menu__button {
    width:20px;
    right: -20px;
    text-align: left;
}

.menu__inner{
    padding:10px;
    padding-right:20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 30px);
    background-color: #222222;
}
.menu__logo{
    text-align: center;
    margin-top:20px;

}
.menu__disclaimer {
    text-align: center;
}
.menu__actions{
    display:flex;
    margin-top:10px;
}
.menu__tab{
    cursor: pointer;
    background-color: #222222;
    color:#aaa;
    display:block;
    width: 200px;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0px
}
.menu__tab.active{
    background-color:#161616;
    color:#ddd;
    font-weight:bold;
}

.menu__tab:hover{
    background-color:#303030;
    color:#ddd;
}

.menu__content{
    background-color: #222222;
    overflow-y:auto;
    max-height: 60vh;
}
.menu__content > * {
    display:none;
}
.menu__content > .active {
    display:block;
}

#areaList, #settings, #about {
    padding:5px;
    margin:0;
    list-style: none;;
}
#areas, #layers {
    list-style: none;
    margin:0;
    padding:0;
}
#layers li button{
    width:90%;
    height:40px;
    position:relative;
    transition: width .2s;
    cursor: pointer;
    margin: 2px 0;
    border: 1px solid #fff;
    color:#fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;
    text-shadow: 1px 0px 3px black, -1px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black; 
}
#layers li button.kanto{
    background-image: url('img/website/kanto_button.png');
}
#layers li button.interior{
    background-image: url('img/website/interiors_button.png');
}
#layers li button.sevii{
    background-image: url('img/website/sevii_button.png');
}
#layers li button:hover{
    width:95%;
}
#layers li button.active{
    width:100%;
}

#layers li button span{
    position:absolute;
    right:10px;
    font-size:1.8em;
    bottom:0;
    margin:auto;
}
#about {
    font-size: 0.8em;
    line-height: 1.5em;
}
.area {
    padding:5px;
    
    background-color: rgb(130 94 108);
    border-bottom:2px solid #22222;
    border-radius: 5px;
    
    transition: background-color .2s;
    margin:4px;
    box-sizing: border-box;
    font-size: .9em;
    color:#fff;
    
}
.area:hover {
    background-color: #222!important;
}
.area__header{
    cursor:pointer;
    display:flex;
    align-items: center;
}
.material-icons{
    margin-right:5px;
}
.area__info {
    overflow:hidden;
    max-height:0;
    transition:max-height .2s;
}
.area__info__inner {
    display:flex;
    background-color: rgba(0,0,0,.2);
    border-radius: 50px;
    align-items: center;
    margin:5px 0;
}
.area.active .area__info {
    max-height:80px;
}
.area__info__img {
    width:50px;
    position: relative;
    border-radius: 50px;
    overflow:hidden;
    border:2px solid #ddd;
    margin:5px;
}
.area__info__img:hover {
    border-color:#fff;
}
.area__info__name {
    padding-left:10px;
}
.area__info__name a {
    color: #fff;
    text-decoration: none;
    display:block;
}
.area__info__name a:nth-child(2) {
    font-size:.6em;
    margin-top:.3em
}
.area__info__name a:nth-child(2):hover {
    color:#aaa;
}
.area__info__name a:hover {
    color: #fff;
}
.area__info__img img {
    width:50px;
    display:block;
}
#error{
    color:red;
    font-size:20px;
    position:absolute;
    width:100%;
    text-align: center;
    top:50%;
    transform:translateY(-50%);
    display:none;
}
#error.active{
    display:block!important;
}
#error a{
    color:white;
    font-size:18px;
}
#loading {
    /* display:none; */
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 1s;
    position:fixed;
    z-index:10;
    background-color: #000;
    width:100vw;
    height:100vh;
    overflow:hidden;
    top:0;
    left:0;
    color:#ddd;
}
#loading.active {
    pointer-events: auto;
    opacity:1;
    
}
#loading > div{
    position:absolute;
    width:300px;
    left:0;
    right:0;
    margin:auto;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
}
#loading > div img{
    display:block;
    margin:auto;
    margin-bottom:10px;
}
.loading-bar{
    width:100%;
    border:2px solid #ddd;
    border-radius: 5px;
    height:30px;
    position: relative;
    padding:5px;
    box-sizing: border-box;
}
.loading-bar__inner{
    width: 0;
    background-color:rgb(0, 195, 255);
    height:100%;
    transition:width .2s;
}

.tour{
    text-align: center;
}
.tour button{
    color:#fff;
    border:0;
    display:block;
    margin:auto;
    padding:8px 20px;
    font-size:1.2em;
    border-radius: 5px;
    background-color: rgb(53, 199, 53);
    cursor:pointer;
    transition: background-color .2s;
}
.tour button:hover{
    background-color: #222!important;
}
.tour button.active{
    background-color: rgb(218, 88, 55)
}
.tour button span{
    vertical-align: middle;
}
.reverse-range{
    direction: rtl;
}